<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="../static/style1.css">
</head>

<body>
    <div class="site-wrap">

        <nav class="site-nav">

            <div class="name">
                Menu

                <svg width="24" height="24" viewBox="0 0 24 24">
                </svg>
            </div>

            <ul>
                <li style="background-color: rgb(16, 18, 56)"><a href="/hom" style="text-decoration: underline;">Home</a></li>
                <li><a href="/query">Query</a></li>
                <li><a href="/yourdatabase">Your Database</a></li>
                <li><a href="/yourdb">Create Table</a></li>
                <li><a href="/yourtable">Delete Table</a></li>
                <li><a href="/addemploy">Management Employer Table</a></li>
            </ul>

        </nav>

        <main>
            <header>
                <div class="breadcrumbs">
                    Home
                </div>
            </header>
        </main>

    </div>
</body>

</html>